@model IEnumerable<CrownEduCRM.Model.Customer>
@{
    ViewData["Title"] = "Müşteriler";
}
@*<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />*@
<div id="dataGrid"></div>
@*<table id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ad</th>
                <th>Soyad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                </tr>
            }
        </tbody>
    </table>*@
@section scripts {
    @*<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>*@
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.8/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.8/css/dx.light.css" />
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/18.2.8/js/dx.all.js"></script>
    <script>
    $(function () {
        $("#dataGrid").dxDataGrid({
            dataSource: [
                @foreach (var item in Model)
                {
                    <text>
                    {
                    Id: @item.Id,
                    FirstName: "@item.FirstName",
                    LastName: "@item.LastName",
                    UserName: "@item.UserName"
                    }
                </text>
                    }],
            keyExpr: "Id",
            columns: ["FirstName", "LastName", "UserName"]
        });
    });
    </script>
}

